<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course with calculator</title>
    <link href="styles/style_calc.css" rel="stylesheet">
    <script src="main_calc.js" defer></script>
  </head>
  <body>
    <div id="positionApplication">
      <div class="primaryContainer">
        <div class="contentResult">
          <div class="outputInfo">1231</div>
          <div class="answer">252</div>
        </div>
        <div class="contentCalc">
          <div class="subBtns-4x4">
            <button class="keypadBtn specialBtn allCleanBtn">AC</button>
            <button class="keypadBtn specialBtn deleteBtn">DE</button>
            <button class="keypadBtn specialBtn">÷</button>
            <button class="keypadBtn specialBtn">%</button>
            <button class="keypadBtn">7</button>
            <button class="keypadBtn">8</button>
            <button class="keypadBtn">9</button>
            <button class="keypadBtn specialBtn">x</button>
            <button class="keypadBtn">4</button>
            <button class="keypadBtn">5</button>
            <button class="keypadBtn">6</button>
            <button class="keypadBtn specialBtn">-</button>
            <button class="keypadBtn">1</button>
            <button class="keypadBtn">2</button>
            <button class="keypadBtn">3</button>
            <button class="keypadBtn specialBtn">+</button>
          </div>
          <div class="footerBtns">
            <button class="keypadBtn">0</button>
            <button class="keypadBtn dotComma">.</button>
            <button class="keypadBtn equalsBtn">=</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
